# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.idea/vcs.xml
cmake-build-debug/CMakeFiles/Project.elf.dir/ASM.includecache
cmake-build-debug/CMakeFiles/Project.elf.dir/depend.make
